.products {
	display: flex;
	flex-wrap: wrap;
	/* align-items: center; */
	justify-content: space-between;
	width: 100%;
	margin-top: 54px;
	/* gap: 4.74%; */
}

.leftFilterBlock {
	display: block;
	width: 20.5%;
	margin-top: 74px;
}

.allWoodSpecies {
	display: flex;
	flex-direction: column;
	height: 205px;
	font-size: 16.63px;
	justify-content: space-between;
	font-family: akzidenz-grotesk-pro-regular-ttf;
	letter-spacing: 0%;
	/* line-height: 21.46px; */
}

.customRadio {
	display: none;
}

.productsType {
	margin-top: 13px;
	color: #c9c9c9;
	display: none;
}

.productsType div {
	margin-top: 10px;
	font-size: 14px;
	line-height: 18.06px;
}

.checkTitle {
	color: #c9c9c9;
	font-size: 16.63px;
	line-height: 21.46px;
	margin-top: 30px;
	display: none;
}

.customCheckbox {
	position: absolute;
	z-index: -1;
	opacity: 0;
}

.customCheckbox + label {
	display: inline-flex;
	align-items: center;
	user-select: none;
}
.customCheckbox + label::before {
	content: '';
	display: inline-block;
	width: 1em;
	height: 1em;
	flex-shrink: 0;
	flex-grow: 0;
	border: 1px solid #d9d9d9;
	border-radius: 0.25em;
	margin-right: 0.5em;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 50% 50%;
}

.customCheckbox:checked + label::before {
	border-color: #ffd600;
	background-color: #fff6d6;
	background-image: url('../../../assets/images/catalogs/checkMark.svg');
}

.filtersWrapper {
	margin-top: 74px;
	margin-bottom: 100px;
	height: auto;
}

.filtersWithImgWrapper {
	/* width: 84.562212%; */
	width: 100%;
	margin-bottom: 20px;
}

.filtersWithImg {
	width: 100%;
	display: flex;
	justify-content: space-between;
	gap: 10px;
	flex-wrap: wrap;
	margin-bottom: 10px;
}

.filterWithImgWrapper {
	width: 32.64%;
	height: 134px;
	background-color: #191812;
	border-radius: 10px;
	display: flex;
	align-items: center;
	padding-left: 14px;
	color: #ffffff;
	transition: all 0.2s ease-in-out;
	overflow: hidden;
	cursor: pointer;
	user-select: none;
}

.filterWithImgWrapperActive {
	width: 32.64%;
	height: 134px;
	background-color: #ffd600;
	border-radius: 10px;
	display: flex;
	align-items: center;
	padding-left: 14px;
	color: #000000;
	transition: all 0.2s ease-in-out;
	overflow: hidden;
	cursor: pointer;
	user-select: none;
}

.filterWithImgWrapper:hover {
	color: #000000;
	background-color: #ffd600;
}

.labelWrapper {
	height: 85%;
	width: 40%;
	display: flex;
	align-items: end;
}

.filterLabel {
	line-height: 100%;
	font-family: NAMU-1850;
	font-size: 15px;
}
.lastFilterLabel {
	line-height: 90%;
	font-family: NAMU-1850;
	font-size: 15px;
}

.imgWrapper {
	margin-left: 10px;
	height: 100%;
	width: 60%;
}

.imgWrapper img {
	width: 86.2068966%;
	height: 97.0149254%;
}

.firstImg {
	margin-left: 29.7%;
	margin-top: 2.6%;
	display: block;
}

@media (width <=1200px) and (width >=931px) {
	.firstImg {
		margin-left: 33.3%;
	}
}

@media (width <=402px) {
	.firstImg {
		margin-top: 5%;
	}
}

@media (width <=380px) {
	.firstImg {
		margin-top: 7%;
	}
}
@media (width <=369px) {
	.firstImg {
		margin-top: 12%;
	}
}
.secondImg {
	margin-left: 13.6%;
	margin-top: 20%;
}

@media (width <= 969px) and (width >=768px) {
	.secondImg {
		margin-top: 30%;
	}
}

@media (width <=593px) {
	.secondImg {
		margin-top: 30%;
	}
}

@media (width <=493px) {
	.secondImg {
		margin-top: 33%;
	}
}

@media (width <=403px) {
	.secondImg {
		margin-top: 37%;
	}
}

@media (width <=380px) {
	.secondImg {
		margin-top: 38%;
	}
}

@media (width <=367px) {
	.secondImg {
		margin-top: 38%;
	}
}

.thirdImg {
	margin-left: 20%;
	margin-top: 10%;
}

@media (width <=600px) {
	.thirdImg {
		margin-left: 15%;
	}
}

.fourthImg {
	margin-left: 15%;
	margin-top: 10%;
}

@media (width <=600px) {
	.fourthImg {
		margin-top: 20%;
	}
}

.fifthImg {
	margin-left: 20%;
	margin-top: 3%;
}

@media (width <=600px) {
	.fifthImg {
		margin-left: 13%;
	}
}

.sixthImg {
	margin-left: 15%;
	margin-top: 5%;
}

@media (width <=600px) {
	.sixthImg {
		margin-top: 20%;
	}
}
@media (width <=600px) and (width >=450px) {
	.sixthImg {
		margin-top: 13%;
	}
}

.commonFiltersWrapper {
	/* height: 72px; */
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.commonFilters {
	/* width: 65.3173268%; */
	width: 100%;
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	gap: 12px;
	min-width: 332px;
}

.commonFiltersSecondRow {
	width: 62.6463618%;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.commonFilterButton {
	padding: 0px 20px 0px 20px;
	background-color: #1f1f1f;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 32px;
	border-radius: 5px;
	color: #ffffff;
	font-family: NAMU-1850;
	font-size: 15px;
	transition: all 0.2s ease-in-out;
	line-height: 80%;
	position: relative;
	height: 32px;
}

.commonFilterButton:hover {
	color: #000000;
	background-color: #ffd600;
}

.woodSpecialWrapper {
	padding: 0px 8px 0px 8px;
	background-color: #1f1f1f;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 32px;
	border-radius: 4.53px;
	color: #ffffff;
	font-family: NAMU-1960-otf;
	font-size: 15px;
	transition: all 0.2s ease-in-out;
	line-height: 80%;
	position: relative;
}

@media (width <=1700px) {
	.filterWithImgWrapper {
		width: calc(50% - 5px) !important;
	}

	.filterWithImgWrapperActive {
		width: calc(50% - 5px) !important;
	}
}
@media (width <=1200px) {
	.commonFiltersWrapper {
		margin-top: 27px;
	}

	.allWoods {
		/* width: 65.3173268%; */
		width: 100%;
		display: flex;
		justify-content: flex-start;
		flex-wrap: wrap;
		gap: 12px;
		min-width: 332px;
	}

	.products {
		margin: 54px auto 0 auto;
	}

	.searchAndSort {
		margin: 0 auto !important;
		position: static !important;
		display: flex !important;
		justify-content: space-between;
	}

	.rightProductsBlock {
		margin: 0 auto !important;
		flex-direction: column;
		width: 90% !important;
	}

	.filtersWithImgWrapper {
		width: 100% !important;
	}

	.commonFilters {
		width: 100%;
	}

	.filtersWrapper {
		flex-direction: column !important;
		margin-top: 20px !important;
	}
}

@media (width <=768px) {
	.allWoods {
		gap: 7px;
	}

	.commonFilterButton {
		font-size: 13px;
	}

	.woodSpecialWrapper {
		font-size: 13px;
	}

	.commonFilters {
		gap: 7px;
	}

	.rightProductsBlock {
		width: 100% !important;
	}

	.filtersWithImg {
		gap: 7px;
	}

	.filterWithImgWrapper {
		width: calc(50% - 3.5px) !important;
		height: 91.6px !important;
	}
	.filterWithImgWrapperActive {
		width: calc(50% - 3.5px) !important;
		height: 91.6px !important;
	}

	.filterLabel {
		font-size: 10px !important;
	}

	.lastFilterLabel {
		font-size: 10px !important;
	}
}

@media (width <= 450px) {
	.searchAndSort {
		justify-content: space-between !important;
	}
}

.rightProductsBlock {
	display: block;
	width: 74.76%;
}

.searchAndSort {
	display: flex;
	right: 0;
	position: absolute;
	margin-right: 10%;
	gap: 20px;
	height: 34px;
}

.divSearchfield {
	width: 215px;
	height: 100% !important;
	display: flex;
	justify-content: end;
	align-items: center;
}

.searchfield {
	background-color: #191919;
	border-radius: 2px;
	width: 204px;
	height: 100% !important;
	margin: 0;
	padding-left: 11px;
	border: 0;
	display: block;
	color: #ffffff99;
	background-image: url('../../../assets/images/catalogs/loupe.svg');
	background-repeat: no-repeat;
	background-position: right 11px center;
	outline: none;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	padding-left: 11px;
	font-size: 13.34px;
	line-height: 16.01px;
	font-family: NAMU-1850;
}

.sortSelection {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	cursor: pointer; /* Важно для кликабельности */
	z-index: 1;
}

/* .sortfield{
    background-color: #191919;
    border-radius: 2px;
    width: 165px;
    height: 23px;
    margin: 0;
    padding-top: 4px;
    padding-left: 11px;
    border: 0;
    display: block;
    color: #ffffff99;
    background-image: url("../../../assets/images/catalogs/arrow.svg");
    background-repeat: no-repeat;
    background-position: right 11px center;
    outline: none;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    font-size: 13.34px;
    line-height: 16.01px;
} */

/* .sortfield{ 
    display: block; 
    font-size: 13.34px;
    line-height: 16.01px;
    color: #ffffff99;  
    width: 165px;
    height: 23px;
    max-width: 100%; 
    margin: 0; 
    border-radius: 5px;
    background-color: #191919; 
    background-image: url("../../../assets/images/catalogs/arrow.svg");
    font-family: NAMU-1990;
}  */

.filtAlt {
	display: none;
}

.sortfield {
	display: block;
	font-size: 13.34px;
	line-height: 16.01px;
	font-family: NAMU-1850;
	font-weight: 400;
	color: #ffffff99;
	/* padding: .6em 1.4em .5em .8em;  */
	padding-left: 11px;
	width: 176px;
	height: 100%;
	/* box-sizing: border-box;  */
	margin: 0;
	border: none;
	outline: none;
	/* border: 1px solid #aaa;
     box-shadow: 0 1px 0 1px rgba(0,0,0,.04);  */
	border-radius: 2px;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-color: #191919;
	background-image: url('../../../assets/images/catalogs/arrow.svg');
	/* linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);  */
	background-repeat: no-repeat, repeat;
	background-position: right 11px center;
	/* background-size: .65em auto, 100%;  */
}

.searchAndSort .field::placeholder {
	height: 21px;
	color: #ffffff99;
}

.addPostButton {
	margin-top: 10px;
	margin-bottom: 10px;
}

.posts {
	margin-top: 10px;
}

.headlines {
	text-align: center;
}

.paddingBottom {
	padding-bottom: 10px;
}

.productsList {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	width: 100%;
	margin-top: 46px;
	gap: 14px;
}

.loadMore {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
	margin-top: 69.15px;
	width: 254px;
	height: 52px;
	border-radius: 15px;
	font-family: NAMU-1990;
	font-size: 16px;
	line-height: 19.2px;
	background-color: #ffffff1a;
	color: #ffffffa3;
	/* border: none; */
}
@media (width >= 520px) and (width <= 1200px) {
	.divSearchfield {
		display: flex;
		justify-content: space-between !important;
	}
}
@media screen and (max-width: 450px) {
	.products {
		display: flex;
		flex-wrap: wrap;
		width: 100%;
		margin-top: 13.5px;
	}

	.leftFilterBlock {
		display: block;
		width: 100%;
		margin-top: 0px;
	}

	/* .allWoodSpecies{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        color: #C9C9C9;
        font-size: 10.4px;
        line-height: 12.48px;
        gap: 15.75px;
    } */

	.productsType {
		display: none;
		margin-top: 13px;
		color: #c9c9c9;
	}

	.productsType div {
		margin-top: 10px;
		font-size: 14px;
		line-height: 18.06px;
	}

	.rangeSlider {
		display: none;
	}

	.checkTitle {
		display: none;
		color: #c9c9c9;
		font-size: 16.63px;
		line-height: 21.46px;
		margin-top: 30px;
	}

	.customCheckbox {
		position: absolute;
		z-index: -1;
		opacity: 0;
	}

	.customCheckbox + label {
		display: inline-flex;
		align-items: center;
		user-select: none;
	}
	.customCheckbox + label::before {
		content: '';
		display: inline-block;
		width: 1em;
		height: 1em;
		flex-shrink: 0;
		flex-grow: 0;
		border: 1px solid #d9d9d9;
		border-radius: 0.25em;
		margin-right: 0.5em;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: 50% 50%;
	}

	.customCheckbox:checked + label::before {
		border-color: #ffd600;
		background-color: #fff6d6;
		background-image: url('../../../assets/images/catalogs/checkMark.svg');
	}

	.rightProductsBlock {
		display: block;
		width: 100%;
		margin-top: 15.25px;
	}

	.searchAndSort {
		/* display: flex;
        right: 0;
        position: absolute;
        justify-content: space-between;
        gap: 20px; */
	}

	.divSearchfield {
		width: 215px;
		height: 27px;
	}

	.searchfield {
		background-color: #191919;
		border-radius: 2px;
		width: 204px;
		height: 25px;
		margin: 0;
		padding-left: 11px;
		border: 0;
		display: flex;
		justify-content: end !important;
		color: #ffffff99;
		background-image: url('../../../assets/images/catalogs/loupe.svg');
		background-repeat: no-repeat;
		background-position: right 11px center;
		outline: none;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		padding-left: 11px;
		font-size: 13.34px;
		line-height: 16.01px;
		font-family: NAMU-1850;
	}

	.divSortfield {
		display: none;
		width: 176px;
	}

	.filtAlt {
		display: flex;
		color: #ffffff;
		font-size: 10.4px;
		line-height: 12.48px;
		padding: 6px;
		gap: 8px;
		position: relative;
	}

	.sortfield {
		display: block;
		font-size: 13.34px;
		line-height: 16.01px;
		font-family: NAMU-1850;
		font-weight: 400;
		color: #ffffff99;
		/* padding: .6em 1.4em .5em .8em;  */
		padding-left: 11px;
		width: 247px;
		height: 34px;
		/* box-sizing: border-box;  */
		margin: 0;
		border: none;
		outline: none;
		/* border: 1px solid #aaa;
         box-shadow: 0 1px 0 1px rgba(0,0,0,.04);  */
		border-radius: 5px;
		-moz-appearance: none;
		-webkit-appearance: none;
		appearance: none;
		background-color: #191919;
		background-image: url('../../../assets/images/catalogs/arrow.svg');
		/* linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);  */
		background-repeat: no-repeat, repeat;
		background-position: right 11px center;
		/* background-size: .65em auto, 100%;  */
	}

	.searchAndSort .field::placeholder {
		height: 21px;
		color: #ffffff99;
	}

	.addPostButton {
		margin-top: 10px;
		margin-bottom: 10px;
	}

	.posts {
		margin-top: 10px;
	}

	.headlines {
		text-align: center;
	}

	.paddingBottom {
		padding-bottom: 10px;
	}

	.productsList {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		width: 100%;
		margin-top: 46px;
		/* gap: 14px; */
	}

	.loadMore {
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 0 auto;
		margin-top: 69.15px;
		width: 254px;
		height: 52px;
		border-radius: 15px;
		font-family: NAMU-1990;
		font-size: 16px;
		line-height: 19.2px;
		background-color: #ffffff1a;
		color: #ffffffa3;
		border: none;
	}
}
